.ui-widget-content::before {

    content: '';
    width: 100%;
    height: 3px;
    background: #FCD116;
    position: absolute;
    margin-top: 1px;
    border-radius: 4px;

}

.drop-inactive svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.drop-active svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 50px;
    padding: 0 2.25rem;
    background-color: transparent;
    border-bottom: 1px solid #eff2f5;
}

.page-item{
    cursor: pointer;
}
@media (max-width:576px){
    .filter-card {
        display: none;
    }
}
.card-header{
    cursor: pointer;
}

.justify-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#kt_body {
    background-color: #FCD116;
  }
.page-link {
    color: black;
}
.product-card .card-heading {
    text-align: center;
  }